.forgetpass-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.forgetpass-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 300px;
    background: white;
    padding: 30px;
}

.forgetpass-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.forgetpass-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

.forgetpass-form button {
    padding: 10px;
    color: #ccc;
    background-color: #555;
    font-size: large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgetpass-container h1 {
    margin: 10px 5px;
}